@model ConsoleApplication.Person
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
    <h1>@Model.FirstName</h1>
    <h2>@Model.LastName</h2>
</body>
</html>